
  <div class="wrapper">

    {% if page.layout != "about" %}
    <span class="site-title">
        <strong>{{ site.name }}</strong>
    </span>
    {% endif %}

    <nav class="site-nav">

      <div class="trigger">
        <!-- About -->
	{% if page.layout == "about" %}
	<strong class="on-page">About</strong>
	{% else %}
        <a class="page-link" href="{{ site.baseurl | prepend: site.url }}/">
	  About
	</a>
	{% endif %}

        <!-- Pages -->
        {% for p in site.pages %}
          {% if p.title and p.url != "/" %}
	    {% if p.title == page.title %}
      	      <strong class="on-page">{{ p.title }}</strong>
     	    {% else %}
              <a class="page-link" href="{{ p.url | prepend: site.baseurl | prepend: site.url }}">{{ p.title }}</a>
	    {% endif %}
          {% endif %}
        {% endfor %}

        <!-- CV link -->
        <!-- <a class="page-link" href="{{ '/assets/pdf/CV.pdf' | prepend: site.baseurl | prepend: site.url }}">vitae</a> -->

      </div>
    </nav>

  </div>


